spring:
  application:
    name: event-scheduler-api
  datasource:
    url: jdbc:postgresql://localhost:5432/event_scheduler_db
    username: scheduler
    password: events123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  security:
    user:
      name: user
      password: password
